

@media screen and (min-width: 783px) {
    .rundiz-downloads-list-items-form .column-opt_force_download {
            width: 30px;
    }
    .rundiz-downloads-list-items-form .column-download_file_name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        word-wrap: break-word;
    }
    .rundiz-downloads-list-items-form .column-download_size {
        width: 80px;
    }
}
@media screen and (min-width: 783px) and (max-width: 999px) {
    .rundiz-downloads-list-items-form .column-user_id {
        display: none;
    }
    .rundiz-downloads-list-items-form .column-download_type {
        width: 30px;
    }
    .rundiz-downloads-list-items-form .column-download_type .download_type_text {
        display: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
    .rundiz-downloads-list-items-form .column-download_type .download_type_icon {
        display: none;
    }
}


.rundiz-downloads-list-items-form .rundiz-downloads-version {
    color: #555;
    cursor: default;
    font-size: 0.85em;
}


.rundiz-downloads-list-items-form .shortcode-text {
    cursor: pointer;
    font-size: 0.85em;
    margin: 0;
    width: 100%;
}


.rundiz-downloads-ul {
    list-style: disc;
    padding-left: 1rem;
}